/* General */
body {
  margin: 0px;
  font-family: 'robotoregular';
}

.wrapper {
  display: grid;
}

/* Header */
ul.taskbar {
  display: flex;
  list-style: none;
  padding-left: 0px;
  margin: 0px;
}

ul.taskbar > li > a {
  line-height: 65px;
  padding: 21.7px;
  margin-right: 4px;
  color: #cccccc;
  text-decoration: none;
}

ul.taskbar > li.active > a {
  background-color: #333333;
}

ul.taskbar > li > a:hover {
  color: #d0d0d0;
  background-color: #333333;
}

#header {
  background-color: #606060;
}

/* Footer */
#footer {
  text-align: center;
  padding: 40px 40px 20px 40px;
  background-color: #606060;
  color: #D3D7CF;
}

#footer > a {
  color: #D3D7CF;
  text-decoration: none;
}

#footer > a:hover {
  text-decoration: underline;
}
